<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nickel.medicalrecord.repository.IDetectEkgMapper">
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer"
            resultType="com.nickel.medicalrecord.model.entity.DetectEkg">
        select id,
               patientId,
               `type`,
               dataId,
               outcome,
               errorType,
               errorText,
               images,
               checkTime,
               createTime
        from detect_ekg
        where id = #{id}
    </select>
    <select id="selectList" resultType="com.nickel.medicalrecord.model.entity.DetectEkg">
        select id,
               patientId,
               `type`,
               dataId,
               outcome,
               errorType,
               errorText,
               images,
               checkTime,
               createTime
        from detect_ekg
        where `type` = #{type}
          and dataId = #{dataId}
        ORDER BY checkTime
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from detect_ekg
        where id = #{id}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.nickel.medicalrecord.model.entity.DetectEkg"
            useGeneratedKeys="true">
        insert into detect_ekg (patientId, `type`, dataId,
                                outcome, errorType, errorText,
                                images, checkTime, createTime)
        values (#{patientId}, #{type}, #{dataId},
                #{outcome}, #{errorType}, #{errorText},
                #{images}, #{checkTime}, #{createTime})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.nickel.medicalrecord.model.entity.DetectEkg" useGeneratedKeys="true">
        insert into detect_ekg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientId != null">
                patientId,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="dataId != null">
                dataId,
            </if>
            <if test="outcome != null">
                outcome,
            </if>
            <if test="errorType != null">
                errorType,
            </if>
            <if test="errorText != null">
                errorText,
            </if>
            <if test="images != null">
                images,
            </if>
            <if test="checkTime != null">
                checkTime,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientId != null">
                #{patientId},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="dataId != null">
                #{dataId},
            </if>
            <if test="outcome != null">
                #{outcome},
            </if>
            <if test="errorType != null">
                #{errorType},
            </if>
            <if test="errorText != null">
                #{errorText},
            </if>
            <if test="images != null">
                #{images},
            </if>
            <if test="checkTime != null">
                #{checkTime},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.nickel.medicalrecord.model.entity.DetectEkg">
        update detect_ekg
        <set>
            <if test="patientId != null">
                patientId = #{patientId},
            </if>
            <if test="type != null">
                `type` = #{type},
            </if>
            <if test="dataId != null">
                dataId = #{dataId},
            </if>
            <if test="outcome != null">
                outcome = #{outcome},
            </if>
            <if test="errorType != null">
                errorType = #{errorType},
            </if>
            <if test="errorText != null">
                errorText = #{errorText},
            </if>
            <if test="images != null">
                images = #{images},
            </if>
            <if test="checkTime != null">
                checkTime = #{checkTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.nickel.medicalrecord.model.entity.DetectEkg">
        update detect_ekg
        set patientId = #{patientId},
            `type`    = #{type},
            dataId    = #{dataId},
            outcome   = #{outcome},
            errorType = #{errorType},
            errorText = #{errorText},
            images    = #{images},
            checkTime = #{checkTime}
        where id = #{id}
    </update>
</mapper>