<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nickel.medicalrecord.repository.IHospitalCheckBodyMapper">

    <resultMap id="hospital_check_body_DTO" type="com.nickel.medicalrecord.model.dto.HospitalCheckBodyDTO">
        <id column="id" property="id"/>
        <result column="patientId" property="patientId"/>
        <result column="hospitalRecordsId" property="hospitalRecordsId"/>
        <result column="type" property="type"/>
        <result column="survive" property="survive"/>
        <result column="dischargeTime" property="dischargeTime"/>
        <result column="strokeEducation" property="strokeEducation"/>
        <result column="description" property="description"/>
        <result column="createTime" property="createTime"/>
        <result column="checkBodyIndexId" property="checkBodyIndexId"/>
        <result column="checkEvaluationIndexId" property="checkEvaluationIndexId"/>
        <association property="bodyIndex" javaType="com.nickel.medicalrecord.model.dto.CheckBodyIndexDTO">
            <id column="checkBodyIndexId" property="id"/>
            <result column="patientId" property="patientId"/>
            <result column="height" property="height"/>
            <result column="weight" property="weight"/>
            <result column="abdominalCircumference" property="abdominalCircumference"/>
            <result column="bmi" property="bmi"/>
            <result column="heartRate" property="heartRate"/>
            <result column="horizontalLeftSystolic" property="horizontalLeftSystolic"/>
            <result column="horizontalRightSystolic" property="horizontalRightSystolic"/>
            <result column="verticalLeftSystolic" property="verticalLeftSystolic"/>
            <result column="horizontalRightSystolic" property="horizontalRightSystolic"/>
            <result column="horizontalLeftDiastolic" property="horizontalLeftDiastolic"/>
            <result column="horizontalRightDiastolic" property="horizontalRightDiastolic"/>
            <result column="verticalLeftDiastolic" property="verticalLeftDiastolic"/>
            <result column="verticalRightDiastolic" property="horizontalRightDiastolic"/>
            <result column="leftAndRight" property="leftAndRight"/>
            <result column="urinaryIncontinence" property="urinaryIncontinence"/>
            <result column="body_images" property="images"/>
            <result column="body_checkTime" property="checkTime"/>
        </association>
        <association property="evaluationIndex" javaType="com.nickel.medicalrecord.model.dto.CheckEvaluationIndexDTO">
            <id column="checkEvaluationIndexId" property="id"/>
            <result column="patientId" property="patientId"/>
            <result column="NIHSS" property="NIHSS"/>
            <result column="ABCD2" property="ABCD2"/>
            <result column="CDR" property="CDR"/>
            <result column="ADL" property="ADL"/>
            <result column="EQ5D" property="EQ5D"/>
            <result column="MMSE" property="MMSE"/>
            <result column="MoCA" property="moCA"/>
            <result column="DS" property="DS"/>
            <result column="stroop" property="stroop"/>
            <result column="CTT" property="CTT"/>
            <result column="VFT" property="VFT"/>
            <result column="BNT" property="BNT"/>
            <result column="rey" property="rey"/>
            <result column="AVLT" property="AVLT"/>
            <result column="HAMDAnxiety" property="HAMDAnxiety"/>
            <result column="HAMDDepression" property="HAMDDepression"/>
            <result column="oneStepExperiment" property="oneStepExperiment"/>
            <result column="sixMeterWalking" property="sixMeterWalking"/>
            <result column="balance" property="balance"/>
            <result column="fingers" property="fingers"/>
            <result column="quickSitUp" property="quickSitUp"/>
            <result column="constipation" property="constipation"/>
            <result column="bladderHyperactivityDisorder" property="bladderHyperactivityDisorder"/>
            <result column="prostate" property="prostate"/>
            <result column="mRS" property="mRS"/>
            <result column="nutritionScreening" property="nutritionScreening"/>
            <result column="drinkingWater" property="drinkingWater"/>
            <result column="evaluation_images" property="images"/>
            <result column="evaluation_checkTime" property="checkTime"/>
        </association>
    </resultMap>

    <select id="selectByPrimaryKey" resultMap="hospital_check_body_DTO">
        SELECT hospital_check_body.id,
               hospital_check_body.patientId,
               hospital_check_body.hospitalRecordsId,
               hospital_check_body.type,
               hospital_check_body.checkBodyIndexId,
               hospital_check_body.checkEvaluationIndexId,
               hospital_check_body.survive,
               hospital_check_body.dischargeTime,
               hospital_check_body.strokeEducation,
               hospital_check_body.description,
               hospital_check_body.createTime,
               check_body_index.height,
               check_body_index.weight,
               check_body_index.abdominalCircumference,
               check_body_index.bmi,
               check_body_index.heartRate,
               check_body_index.horizontalLeftSystolic,
               check_body_index.horizontalRightSystolic,
               check_body_index.verticalLeftSystolic,
               check_body_index.verticalRightSystolic,
               check_body_index.horizontalLeftDiastolic,
               check_body_index.horizontalRightDiastolic,
               check_body_index.verticalLeftDiastolic,
               check_body_index.verticalRightDiastolic,
               check_body_index.leftAndRight,
               check_body_index.urinaryIncontinence,
               check_body_index.images          AS body_images,
               check_body_index.checkTime       AS body_checkTime,
               check_evaluation_index.NIHSS,
               check_evaluation_index.ABCD2,
               check_evaluation_index.CDR,
               check_evaluation_index.ADL,
               check_evaluation_index.EQ5D,
               check_evaluation_index.MMSE,
               check_evaluation_index.MoCA,
               check_evaluation_index.DS,
               check_evaluation_index.stroop,
               check_evaluation_index.CTT,
               check_evaluation_index.VFT,
               check_evaluation_index.BNT,
               check_evaluation_index.rey,
               check_evaluation_index.AVLT,
               check_evaluation_index.HAMDAnxiety,
               check_evaluation_index.HAMDDepression,
               check_evaluation_index.oneStepExperiment,
               check_evaluation_index.sixMeterWalking,
               check_evaluation_index.balance,
               check_evaluation_index.fingers,
               check_evaluation_index.quickSitUp,
               check_evaluation_index.constipation,
               check_evaluation_index.bladderHyperactivityDisorder,
               check_evaluation_index.prostate,
               check_evaluation_index.mRS,
               check_evaluation_index.nutritionScreening,
               check_evaluation_index.drinkingWater,
               check_evaluation_index.images    AS evaluation_images,
               check_evaluation_index.checkTime AS evaluation_checkTime
        FROM hospital_check_body
                 LEFT JOIN check_body_index ON check_body_index.id = hospital_check_body.checkBodyIndexId
                 LEFT JOIN check_evaluation_index
                           ON check_evaluation_index.id = hospital_check_body.checkEvaluationIndexId
        WHERE hospital_check_body.id = #{id}
    </select>
    <select id="selectByHospitalRecordsId" resultMap="hospital_check_body_DTO">
        SELECT hospital_check_body.id,
               hospital_check_body.patientId,
               hospital_check_body.hospitalRecordsId,
               hospital_check_body.type,
               hospital_check_body.checkBodyIndexId,
               hospital_check_body.checkEvaluationIndexId,
               hospital_check_body.survive,
               hospital_check_body.dischargeTime,
               hospital_check_body.strokeEducation,
               hospital_check_body.description,
               hospital_check_body.createTime,
               check_body_index.height,
               check_body_index.weight,
               check_body_index.abdominalCircumference,
               check_body_index.bmi,
               check_body_index.heartRate,
               check_body_index.horizontalLeftSystolic,
               check_body_index.horizontalRightSystolic,
               check_body_index.verticalLeftSystolic,
               check_body_index.verticalRightSystolic,
               check_body_index.horizontalLeftDiastolic,
               check_body_index.horizontalRightDiastolic,
               check_body_index.verticalLeftDiastolic,
               check_body_index.verticalRightDiastolic,
               check_body_index.leftAndRight,
               check_body_index.urinaryIncontinence,
               check_body_index.images          AS body_images,
               check_body_index.checkTime       AS body_checkTime,
               check_evaluation_index.NIHSS,
               check_evaluation_index.ABCD2,
               check_evaluation_index.CDR,
               check_evaluation_index.ADL,
               check_evaluation_index.EQ5D,
               check_evaluation_index.MMSE,
               check_evaluation_index.MoCA,
               check_evaluation_index.DS,
               check_evaluation_index.stroop,
               check_evaluation_index.CTT,
               check_evaluation_index.VFT,
               check_evaluation_index.BNT,
               check_evaluation_index.rey,
               check_evaluation_index.AVLT,
               check_evaluation_index.HAMDAnxiety,
               check_evaluation_index.HAMDDepression,
               check_evaluation_index.oneStepExperiment,
               check_evaluation_index.sixMeterWalking,
               check_evaluation_index.balance,
               check_evaluation_index.fingers,
               check_evaluation_index.quickSitUp,
               check_evaluation_index.constipation,
               check_evaluation_index.bladderHyperactivityDisorder,
               check_evaluation_index.prostate,
               check_evaluation_index.mRS,
               check_evaluation_index.nutritionScreening,
               check_evaluation_index.drinkingWater,
               check_evaluation_index.images    AS evaluation_images,
               check_evaluation_index.checkTime AS evaluation_checkTime
        FROM hospital_check_body
                 LEFT JOIN check_body_index ON check_body_index.id = hospital_check_body.checkBodyIndexId
                 LEFT JOIN check_evaluation_index
                           ON check_evaluation_index.id = hospital_check_body.checkEvaluationIndexId
        WHERE hospital_check_body.hospitalRecordsId = #{hospitalRecordsId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from hospital_check_body
        where id = #{id}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.nickel.medicalrecord.model.entity.HospitalCheckBody" useGeneratedKeys="true">
        insert into hospital_check_body (patientId, hospitalRecordsId, `type`,
                                         checkBodyIndexId, checkEvaluationIndexId,
                                         survive, dischargeTime, strokeEducation,
                                         description, createTime)
        values (#{patientId}, #{hospitalRecordsId}, #{type},
                #{checkBodyIndexId}, #{checkEvaluationIndexId},
                #{survive}, #{dischargeTime}, #{strokeEducation},
                #{description}, #{createTime})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.nickel.medicalrecord.model.entity.HospitalCheckBody" useGeneratedKeys="true">
        insert into hospital_check_body
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientId != null">
                patientId,
            </if>
            <if test="hospitalRecordsId != null">
                hospitalRecordsId,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="checkBodyIndexId != null">
                checkBodyIndexId,
            </if>
            <if test="checkEvaluationIndexId != null">
                checkEvaluationIndexId,
            </if>
            <if test="survive != null">
                survive,
            </if>
            <if test="dischargeTime != null">
                dischargeTime,
            </if>
            <if test="strokeEducation != null">
                strokeEducation,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createTime != null">
                createTime
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientId != null">
                #{patientId},
            </if>
            <if test="hospitalRecordsId != null">
                #{hospitalRecordsId},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="checkBodyIndexId != null">
                #{checkBodyIndexId},
            </if>
            <if test="checkEvaluationIndexId != null">
                #{checkEvaluationIndexId},
            </if>
            <if test="survive != null">
                #{survive},
            </if>
            <if test="dischargeTime != null">
                #{dischargeTime},
            </if>
            <if test="strokeEducation != null">
                #{strokeEducation},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="createTime != null">
                #{createTime}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.nickel.medicalrecord.model.entity.HospitalCheckBody">
        update hospital_check_body
        <set>
            <if test="patientId != null">
                patientId = #{patientId},
            </if>
            <if test="hospitalRecordsId != null">
                hospitalRecordsId = #{hospitalRecordsId},
            </if>
            <if test="type != null">
                `type` = #{type},
            </if>
            <if test="survive != null">
                survive = #{survive},
            </if>
            <if test="dischargeTime != null">
                dischargeTime = #{dischargeTime},
            </if>
            <if test="strokeEducation != null">
                strokeEducation = #{strokeEducation},
            </if>
            <if test="description != null">
                description = #{description}
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.nickel.medicalrecord.model.entity.HospitalCheckBody">
        update hospital_check_body
        set patientId         = #{patientId},
            hospitalRecordsId = #{hospitalRecordsId},
            `type`            = #{type},
            survive           = #{survive},
            dischargeTime     = #{dischargeTime},
            strokeEducation   = #{strokeEducation},
            description       = #{description}
        where id = #{id}
    </update>
</mapper>